alabaster
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
arrow 
asn1crypto 
astroid 
astropy 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
blis==0.7.5
bokeh 
boto==2.49.0
Bottleneck 
brotlipy==0.7.0
cached-property 
catalogue==2.0.6
certifi==2021.10.8
cffi 
chardet 
charset-normalizer 
click==8.0.3
cloudpickle 
clyent==1.2.2
colorama 
comtypes==1.1.10
contextlib2 
cookiecutter 
cryptography 
cycler==0.10.0
cymem==2.0.6
Cython 
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
DAWG-Python==0.7.2
debugpy 
decorator 
defusedxml 
diff-match-patch 
distributed 
docopt==0.6.2
docutils 
en-core-web-sm 
entrypoints==0.3
et-xmlfile==1.1.0
fastcache 
filelock 
flake8 
Flask 
fonttools==4.25.0
fsspec 
future 
gevent 
glob2 
greenlet 
h5py 
HeapDict 
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
langcodes==3.3.0
langdetect==1.0.9
lazy-object-proxy 
libarchive-c 
llvmlite==0.37.0
locket==0.2.1
lxml 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch 
munkres==1.1.4
murmurhash==1.0.6
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.6.5
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
olefile 
openpyxl 
packaging 
pandas 
pandocfilters 
paramiko 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
pathy==0.6.1
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
pluggy 
ply==3.11
poyo 
preshed==3.0.6
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
pydantic==1.8.2
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.4
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pytz==2021.3
PyWavelets 
pywin32==228
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
rope 
Rtree 
ruamel-yaml-conda 
scikit-image==0.18.3
scikit-learn 
scikit-learn-intelex==2021.20210714.120553
scipy 
seaborn 
Send2Trash 
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
smart-open==5.2.1
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Sphinx==4.2.0
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
srsly==2.4.2
statsmodels==0.12.2
sympy 
tables==3.6.1
TBB==0.2
tblib 
terminado==0.9.4
testpath 
text-unidecode 
textdistance 
thinc==8.0.13
threadpoolctl 
three-merge 
tifffile 
tinycss 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typer==0.4.0
typing-extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3==1.26.7
wasabi==0.9.0
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
whichcraft 
widgetsnbextension 
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xmltodict 
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
