<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Результаты поиска
        </title>
    </head>
<body>
	<div>
        <div class="container">
		<header>
			<nav>
				<ul>
					<li><a href="/"><img src={{url_for('static', filename='home.jpg')}} class="im2"></a></li>
					<li><a href="/new">Новичок</a></li>
					<li><a href="/middle">Средничок</a></li>
					<li><a href="/profi">Профи</a></li>
					<li><a href="/form">Поиск по корпусу</a></li>
				</ul>
			</nav>		
        </header>
		<center>{{message}}</center>
		<center><a href='/form'>Вернуться к поиску</a></center>	
		</div>
		<footer class="footer">
			<a href="https://github.com/IHumonen/RHETORICAL_CORPUS"><img src={{url_for('static', filename='email.png')}} class="im1"></a>
		</footer>
	</div>
</body>
</html>