<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <title>
            Результаты поиска
        </title>
</head>
<body>
	<div class='wrapper'>
		<header>
			<div id='navigation'>
				<ul>
					<li display='inline'><a href="/"><img src={{url_for('static', filename='home.jpg')}} class="im2"></a><li>
					<li display='inline'><a href="/new">Новичок</a></li>
					<li display='inline'><a href="/middle">Средничок</a></li>
					<li display='inline'><a href="/profi">Профи</a></li>
					<li display='inline'><a href="/form">Поиск по корпусу</a></li>
				</ul>
			</div>		
        </header>
	<p><a href='/form' align="left">Вернуться к поиску</a></p>	
	{% for i in range(list_len) %} 
	<span class="b-doc-expl"> {{i+1}}. ID текста {{text_ids[i]}}
	<table width="100%" cellspacing="10">
		<tbody>
			<tr><td>
			<ul><table class="para">
			<tbody><tr>
			<td class="para-lang">ru</td>
				<td class="para-snippet">
					<span class="b-wrd-expl"l="en">{{result[i][0]}}</span>
					<span class="prev">&nbsp;</span>				
				</td>
			</tr>
			<tr>
			<td class="para-lang">en</td>
				<td class="para-snippet">
					<span class="b-wrd-expl"l="en">{{result[i][1]}}</span>
					<span class="prev">&nbsp;</span>				
				</td>
			</tr></tbody>
			</table></ul>
			</td></tr>
		</tbody>
</table>
{% endfor %} 
	<footer class="footer">
        <a href="https://github.com/IHumonen/RHETORICAL_CORPUS"><img src={{url_for('static', filename='email.png')}} class="im1"></a>
    </footer>
</div>
</body>
</html>