<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <title>
            RST с нуля. Раздел для профи
        </title>
    </head>
    <body>
        <div>
            <header>
                <h1>
                    <hr size="4" color="black">
                        <a href="/"><img src={{url_for('static', filename='home.jpg')}} class="im2"></a>
                        <center> RST для профи </center>
                    <hr size="4" color="black">
                </h1>           
            </header> 
            <footer class="footer">
                <a href="https://github.com/IHumonen/RHETORICAL_CORPUS"><img src={{url_for('static', filename='email.png')}} class="im1"></a>
            </footer>
        </div> 
    </body>
</html>

