<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Поиск по корпусу
        </title>
    </head>
<body>
	<div>
	<div class="container">
		<header>
            <h1>
                <hr size="4" color="black">
					<a href="/"><img src={{url_for('static', filename='home.jpg')}} class="im2"></a>
					<div class="text-center"> RST с нуля </div>
                <hr size="4" color="black">
            </h1>           
        </header>
		<form method = 'POST' action='/results'>
			<div>
				<div class="text-center py-auto">
					<h2>Поиск по корпусу</h2>
					<p><b>Слово или фраза</b></p>
					<div class="row">
						<div class="col-2"></div>
						<div class="col-8">
							<div class="input-group">
								<input class="form-control" type="search" name="input_query" value="">
								<span class="input-group-append">
									<button class="btn btn-outline-secondary">
										Искать
									</button>
								</span>
							</div>
						</div>
						<div class="col-2"></div>
					</div>
				</div>
				<div class="py-auto">
					<div class="text-center">
						<h3>Дополнительные параметры (опционально)</h3>
					</div>
					<div class="row">
						<div class="col-6 d-flex justify-content-center">
							<div>
								<h4>Часть речи</h4>
								<!-- <div> -->
									{% for r in pos_tags %}
									<div class="form-check">
										<input type="radio" class="form-check-input" id="pos_tag_{{r[1]}}" name="pos_tag" value={{r[1]}}>
										<label class="form-check-label" for="pos_tag_{{r[1]}}">{{r[0]}}</label>
									</div>
									{% endfor %} 
								<!-- </div> -->
							</div>
						</div>
						<div class="col-6 d-flex justify-content-center">
							<div>
								<h4>Риторическое отношение</h4>
								<!-- <div> -->
									{% for r in rels %}
									<div class="form-check">
										<input type="checkbox" name="relation" id="relation_{{r[1]}}" value={{r[1]}}>
										<label class="from-check-label" for="relation_{{r[1]}}">{{r[0]}}</label>
									</div>
									{% endfor %}
								<!-- </div>  -->
							</div>
						</div>
					</div>
				</div>
			</div>	
		</form>
		</div>
		<footer class="footer">
			<a href="https://github.com/IHumonen/RHETORICAL_CORPUS"><img src={{url_for('static', filename='email.png')}} class="im1"></a>
		</footer>
	</div>
</body>
</html>