<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <title>
            Поиск по корпусу
        </title>
</head>
<body>
	<div class='wrapper'>
		<header>
            <h1>
                <hr size="4" color="black">
					<a href="/"><img src={{url_for('static', filename='home.jpg')}} class="im2"></a> <center> RST с нуля </center>
                <hr size="4" color="black">
            </h1>           
        </header>
	<form method = 'POST' action='/results'>
		<h2>Слово или фраза</h2>
    	<input type="text" name="input_query" value="" style="width: 400px">
		<h2>Дополнительные параметры (опционально)</h2>
		<table>
		<tr><th>Часть речи</th><th>Риторическое отношение</th></tr>
		<tr><td><div class="checkselect" multiple>
		{% for r in pos_tags %} 
		<p><input type="checkbox" name="pos_tag" value={{r[1]}}>{{r[0]}}</p>
		{% endfor %} 
		</div></td><td><div class="checkselect" multiple>
		{% for r in rels %} 
		<p><input type="checkbox" name="relation" value={{r[1]}}>{{r[0]}}</p>
		{% endfor %} 
		</div></td></tr>
		</table>		
		<p><input type="submit" name='button_1'></p>
	</form>
	<footer class="footer">
        <a href="https://github.com/IHumonen/RHETORICAL_CORPUS"><img src={{url_for('static', filename='email.png')}} class="im1"></a>
    </footer>
	</div>
</body>
</html>